.content__photo {
    display: inline-block;
    margin-right: 50px;
    width: 220px;
    height: 220px;
    border: solid 5px #fff;
    border-radius: 50%;
    background: url('assets/photo_big.png') center no-repeat;
    background-size: 220px;
    vertical-align: top;
    }

.content__about {
    display: inline-block;
    width: 390px;
    vertical-align: top;
    }

    .content__text {
        margin-bottom: 50px;
        }

    .content__download-button {
        position: absolute;
        right: 0;
        padding: 5px;
        padding-right: 10px;
        padding-left: 30px;
        border: solid 2px;
        border-radius: 20px;
        background: url('assets/download.svg') 10px 50% no-repeat;
        background-size: 15px;
        color: #e85f61;
        text-decoration: none;
        transition: color ease-in-out .3s,
            background ease-in-out .3s,
            border ease-in-out .3s;
        }
    .content__download-button:hover {
        border: solid 2px #fff;
        background: #fff url('assets/download.svg') 10px 50% no-repeat;
        background-size: 15px;
        transition: color ease-in-out .3s,
            background ease-in-out .3s,
            border ease-in-out .3s;
        }
