html, body {
    height: 100%;
    }

.layout {
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    font-family: 'Open Sans';
    }

    .wrap {
        min-height: 650px;
        height: 100%;
        }
    .wrap:after {
        width: 100%;
        height: 50px;
        content: '';
        display: block;
        }

        .content {
            position: relative;
            margin: auto;
            width: 960px;
            }


            .aside-menu {
                display: inline-block;
                margin-right: 50px;
                width: 220px;
                vertical-align: top;
                text-align: center;
                }

                .aside-menu__link {
                    position: relative;
                    display: inline-block;
                    box-sizing: border-box;
                    padding-right: 20px;
                    padding-left: 40px;
                    width: 100%;
                    color: #414141;
                    vertical-align: middle;
                    text-decoration: none;
                    font-weight: 400;
                    line-height: 45px;
                    transition: color ease-in .3s;
                    }
                .aside-menu__link._active, .aside-menu__link:hover {
                    color: #33c1e3;
                    transition: color ease-in .3s;
                    }

                .aside-menu__link:hover:after, .aside-menu__link._active:after {
                    position: absolute;
                    right: 0;
                    display: inline-block;
                    width: 5px;
                    height: 45px;
                    background: #33c1e3;
                    content: '';
                    vertical-align: middle;
                    }

                .aside-menu__link._about {
                    background: url('./assets/people.svg') 10px 50% no-repeat;
                    background-size: 20px;
                    }

                .aside-menu__link._career {
                    background: url('./assets/transport.svg') 10px 50% no-repeat;
                    background-size: 20px;
                    }

                .aside-menu__link._portfolio {
                    background: url('./assets/travel.svg') 10px 50% no-repeat;
                    background-size: 20px;
                    }
